@import url("/home/zeld-a/.cache/wal/colors-waybar.css");

* {
    background-color: @background;
    color: @foreground;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: 'Google Sans';
    font-size: 18px;
    font-weight: bold;
}

window#waybar {
    opacity: 0.9;

}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces {
    margin: 0 0 0 6px
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 12px;
    color: @foreground;
}

#workspaces button.empty {
    opacity: 0.5;
}

#battery,
#pulseaudio,
#network,
#custom-power,
#custom-notification,
#custom-pacman {
    min-width: 12px;
    margin: 0 7.5px;
}

tooltip {
    padding: 2px;
}

#clock {
    margin-left: 8.75px;
}

#custom-power {
    color: #B04A3A;
}